<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Register</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addEmployee()">
    <div class="form-group">
      <label for="legalentityname">Legal Entity Name</label>
      <input type="text" class="form-control" id="legalentityname" ng-model="employee.legalentityname">
    </div>
    <div class="form-group">
      <label for="legalentitycode">Legal Entity Code</label>
      <input type="number" class="form-control" id="legalentitycode" ng-model="employee.legalentitycode">
    </div>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" ng-model="employee.firstname">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" ng-model="employee.lastname">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" ng-model="employee.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="employee.password">
    </div>
    <div class="form-group">
        <label for="countrycode">Country Code</label>
        <input type="number" class="form-control" id="countrycode" ng-model="employee.countrycode">
    </div>
    <div class="form-group">
        <label for="mobileno">Mobile Number</label>
        <input type="number" class="form-control" id="mobileno" ng-model="employee.mobileno">
    </div>
    <div class="form-group">
        <label for="addr1">Address Line 1</label>
        <input type="text" class="form-control" id="addr1" ng-model="employee.addr1">
    </div>
    <div class="form-group">
        <label for="addr2">Address Line 2</label>
        <input type="text" class="form-control" id="addr2" ng-model="employee.addr2">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" ng-model="employee.country">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" ng-model="employee.state">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" ng-model="employee.city">
    </div>
    <div class="form-group">
        <label for="postalcode">Postal Code</label>
        <input type="number" class="form-control" id="postalcode" ng-model="employee.postalcode">
    </div>
    <div class="form-group">
        <label for="logo">Logo</label>
        <input type="file" class="form-control" id="logo" ng-model="employee.logo">
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Register</button>
    <a href="#/employees" class="btn btn-default"> Cancel</a>
</form>		
    <div>
<div>