<div class="card bg-light">

  
    <div class= "card-group">
       
        <div class="col-sm" ng-init="showEmployee()">
           <div class= "card img-fluid;card bg-light" style="width: 500px;">
              <img src="assets/logo.png.png" style="width: 100px;">

               <h4 class="card-title">{{employee.legalentityname}}</h4> <br> 
               <p class="card-text">{{employee.fname}}</p>
               <p class="card-text">{{employee.email}}</p>
               <p class="card-text">{{employee.mobileno}}</p>
               <p class="card-text">{{employee.addr1}}</p>
         </div>
      </div>


    <div class="col-sm">
          <div class="card img-fluid; card bg-light"style="width:800px;">
                <a>Company Information</a>
                <a>Legal Entities</a>
                <a>Account Details</a>
                <a>Locations</a>
                <a>Departments</a>
                <a>Cost Center</a>
                <a>Designation</a>
                <a>Bands</a>
                <a>Project Codes</a>
                <a>GST Details</a>
                <a>Invoice Settings</a>
          </div>
    </div>

  </div>
    
</div>
    
     
<div class= "card-group">

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Customers</h4> <br>
                <p class="card-text"> Manage and Configure your Customers</p>
                <h3 class="text-primary"> 254</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
       </div>
    </div>

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Suppliers</h4> <br>
                <p class="card-text"> Manage and Configure your Suppliers</p>
                <h3 class="text-primary"> 25</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Subagents</h4> <br>
                <p class="card-text"> Manage and Configure your Subagents</p>
                <h3 class="text-primary">120</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
        </div>
    </div>
    <a href="#/employees" class="btn btn-default"> Cancel</a>
</div>
  
  